#qa_title {
    margin-top: 30px;
    margin-left: 10px;
}
#qa_title p {
    font-size: 13px;
}
#qa_main {
    margin-left: 10px;
    width: calc(100% - 20px);
    height: 720px;
}
.qa_taplist {
    width: calc(100% / 4);
}
#qa_btitle { 
    margin: 10px;
    margin-bottom: 0;
    width: calc(100% - 20px);
}
#qa_btitle h3 {
    text-align: center;
}
#qa_bsinput {
    width: 120px;
}
#qa_bsearch {
    margin: 0 10px;
    width: calc(100% - 20px);
}
#qa_board table {
    margin: 0;
    width: 100%;
    border-left-style: none;
}
#qa_board th {
    font-size: 12px;
}
#qa_board td {
    font-size: 12px;
}
.qa_btext {
    padding-left: 15px;
}
#qa_bno {
    margin: 10px;
    margin-top: 5px;
    width: calc(100% - 20px);
    font-size: 12px;
}
.qa_bno_none {
    display: none;
}