html, body, h1, h3, hr{
    margin: 0;     
}
ul {padding-left: 0; list-style: none;}
span {
    display: inline-block;
    color: #a84848;
    animation-name: scale;
    animation-duration: 3s;
    animation-iteration-count: 3;
}
@-webkit-keyframes scale {
  from {
    transform: scale(1.7);
  }
  to {
    transform: scale(1);
  }
}    

h2 {
    color: #a84848;
}
@font-face{font-family:'CaviarDreams'; src:url('CaviarDreams.ttf')}

#body {
    font-family: "CaviarDreams";    
    animation-name: process;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
#bsec {
    min-width: 800px;  
}
#div1 {
    display: inline-block;
    height: 210px;
    width: calc(100% - 25vw);
    text-align: left;
    font-family: CaviarDreams;
    padding: 25px 0px; 
    padding-left: 2vw;
    float: left;
}
#div2 {
    display: inline-block; 
    width: 22vw;
    font-family: CaviarDreams;     
}
#div2 img {
    height: 280px;
    text-align: center;
    float: right;
}
#upper {    
    width: 100%;
    display: inline-block;
    font-family: CaviarDreams;    
}
.explain{
    width: 100%;     
    padding-top: 25px ;
    padding-left: 5px ;   
    float: left;
    font-family: CaviarDreams;   
}
@-webkit-keyframes process {
  0% {        
  }
  35% { 
    background: rgba(174, 0, 0, 0.4);
  }    
  50% {    
    background: rgba(92, 11, 11, 0.4); 
  }
  100% {    
     
  }    
}  

table {
    min-width: 360px;
    padding: 0 10px;
    border-color: lightgray;
    /*width: auto;*/
    font-size: 13px;
    text-align: center;
}
th {
    padding: 0;
    border-style: solid;    
    border-color: lightgray;
    /*width: auto;*/
    font-size: 13px;
}
td {
    border-style: solid;
    border-color: lightgray; 
    font-size: 13px;
}

#footer img{
    padding-top: 60px;
    width: 100%;
    
}

