/* 메뉴바 */
    
#menu ul, li {
    list-style: none;
    margin: 0;
    padding: 0.5em 0;
}

#menu {

}
.cf {
    width: 100%;
    z-index: 2;
}

.cf a{
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica;
    color: #fff;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding-top: 0.1em;
    font-size: 20px;
    width: 11%;
}

.cf li {
    background: inline-block;
    float: left;
    position: relative;
    display: block;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica;
    padding: 0.5em 0.5em;
    width: 11%;
    cursor: pointer;
    font-size:17px;
}

.a:hover, #search:hover {
    background: #e74c3c;
    color: #fff042;
    cursor: pointer;
}

/* 로그인 */
#search {
    color: #fff;
    font-size: 17px;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
}

/* 태블릿 */
/*@media (max-width:1000px){.cf li{font-size:6px;}}*/


/* 모바일 */
/*@media (max-width:500px){.cf li{font-size:6px;}}*/