/* 공통 */

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* 상단 */

#header{
    position: fixed;
    width: 100%;
    height: 95px;
    left: 0;
    top: 0;
    transition: top .5s ease-out;
    overflow: hidden;
}

#menu{
    position: relative;
    width: 80%;
    height: 100%;
    left: 10%;
    background-color: black;
}

/* 중앙 */
#main{
    position: absolute;
    overflow-x: hidden;
    width: 100%;
    height: calc(100% - 183px);
    bottom: 90px;
    top: 95px;
}

#main #mainframe{
    margin: 0 10%;
    height: 100%;
    overflow-y: scroll; -ms-overflow-style: none; 
}

/* 하단 */
footer{
    height: 90px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer #qna{
    margin: 0 10%;
    height: 100%;
    background-color: darkred;
}

footer ul, footer li{
    list-style: none;
    padding: 0;
    margin: 0;
}

#fo1 {
    width: 60%;
    height: 100%;
    float: left;
}

#fo1 div{
    width: 100%;
    margin: 3px 20%;
    float: left;
}

#fo1 ul {
    display: inline-block;
}

#fo1 li{
    display: inline-block;
}

#fo2 {
    width: 40%;
    height: 100%;
    float: right;
    text-align: right;
}

#fo2 ul{
    float: right;
    margin: 0%;
}

#fo2 img{
    width: 100%;
    height: 86px;
}

#fo2 img:hover{
    cursor: pointer;
}

.ep{
    font-weight: bold;
    color: yellow;
}

.ep2{
    color: white;
}

.ep2:hover{
    cursor: pointer;
    color: black;
    font-weight: bold;
}
::-webkit-scrollbar {display:none;}
