html, body, h1, h2, h4, hr{
    margin: 0;     
}
h2 {color: #a84848;}

@font-face{font-family:'CaviarDreams'; src:url('CaviarDreams.ttf')}
#html {
    min-width: 544px;
    font-family: "CaviarDreams";
    animation-name: process;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
@-webkit-keyframes process {
  0% {        
  }
  35% { 
    background: rgba(174, 0, 0, 0.4);
  }    
  50% {    
    background: rgba(92, 11, 11, 0.4); 
  }
  100% {       
  }    
}  
#div1 {   
    display: inline-block;
    height: 230px;
    width: calc(100% - 220px);
    text-align: left;
    font-family: CaviarDreams;
    padding: 30px 0px;       
}
#left_top {    
    display: inline-block; 
    width: 215px;   
    float: right;     
}
#left_top img {
    height: 280px;
    text-align: center;
}
#div2 { 
    display: inline-block;    
}
.article{
    width: 95%;     
    padding-top: 25px ;
    padding-left: 5px ;
    float: left;      
}
.use {
    width: 60%;
    display: inline-block;
}
.c_photo {    
    float: right;
    display: inline-block;
    padding: 0;       
}    

.c_photo img {
    height: 250px;
}
