
#div1 {
    height: 12.5vh;
}

#topMenu a {
    font-size: 0.7em;
}

#div1_left {
    height: 12.5vh;
}

#div1_right {
    height: 12.5vh;
}

#div1_left a, #div1_right a {
    padding: calc((12.5vh - 33px) / 2) 10px;
}

#div2 {
    width: 100%;
    height: 12.5vh;
}

#search {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#ranking {
    display: none;
}

#icon {
    display: inline-block;
    width: 40px;
    height: 50px;
    background-image: url(ic_reorder_white_24px.svg);
    background-size: cover;
    float: right;
    background-color: lightskyblue;
    margin: calc((12.5vh - 50px) / 2) 25px;
    padding: 0 5px;
}

#icon:hover {
}

#div2 ul {
    display:none;
}

#div2 li {
    display: none;
}

#div5 {
    display: none;
}

#div3 {
    width: 50%;  
}

#div4 {
    width: 50%;   
}
