
#div1 {
    display: none;
}

#div2 {
    height: 14vh;
}

#icon {
    width: 30px;
    height: 40px;
    margin: calc((14vh - 40px) / 2) 10px;
}

#div3 {
    width: 100%;
    height: 43vh;
}

#div4 {
    width: 100%;
    height: 43vh;
}