html, body, h1, h6{
    margin: 0;
}

/************************************************************************
상단메뉴
************************************************************************/

#div{
    display: inline-block;
}

#div1 {
    background-color: gold;
    width: 100%;
    height: 10vh;
    float: left;
}

#topMenu a:hover, #login a:hover {
    background-color: white;
    cursor: pointer;
}

#login {
    float: right;
    height: 10vh;
}

#topMenu a, #login a {
    display: inline-block;
    font-size: 1.5em;
    padding: 3px 3px;
    text-decoration: none;
    color: black;
}

#topMenu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#topMenu ul li{
    margin: 0;
    padding: 0;
    float: left;
}

#topMenu li:hover > ul{
    display: block;
    cursor: pointer;
}

#firstMenu ul{
    display: none;
}

.thirdMenu{
    float: right;
}

/************************************************************************
좌단메뉴
************************************************************************/

#div2 {
    background-color: gold;
    width: 235px;
    height:calc(((30vw - 20px) * 6) + 150px);
    float: left;
}

#search {
    padding: 25px 5px;
}

#ranking {
    display: block;
    padding: 5px 5px;
    font-weight: bold;
}

#div2 ul {
    list-style-type: none;
    display: block;
    padding-left: 5px;
    font-weight: bold;
}

#div2 li {
    padding-left: 20px;
    font-weight: normal;
}

#div5 {
    background-color: lemonchiffon;
    width: calc(100% - 235px);
    height: 150px;  
    float: right;
    
}

h6 {
    display: inline-block;
    position: relative;
    left: 10px;
    bottom: -30%;
    left: 40%;
}

#info {
    display: inline-block;
    margin-left: 10px;
    margin-top: 2vh;
}

#footer {
    display: inline-block;
    float: right;
    height: auto;
}

#footer a {
    font-size: 15px;
    margin: 0 25px;
}

#div3 {   
    background-color: whitesmoke;
    width: calc((100% - 235px) / 2);
    height: calc((30vw - 20px) * 6);  
    float: left;
}
#div4 {
    background-color: ghostwhite;
    width: calc((100% - 235px) / 2);
    height: calc((30vw - 20px) * 6);    
    float: left;
}
#div3 ul, #div4 ul {
    width: 100%;
    float: left;
    list-style: none;
    padding-left: 0;
}
#div3 li, #div4 li {
    display: inline-block;
    float: left;
    width: 100%;
    height: calc(30vw - 20px);   
}
#div3 div, #div4 div{
    width: 100%;
    height: 100%;            
    position: relative;
    overflow: hidden;
}
#div3 img, #div4 img {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 40%;
    transform: translate(-80%, -50%);
}
#div3 p, #div4 p {
    position: absolute;
    width: 45%;
    top: 50%;
    left: 30%;
    transform: translate(50%, -50%);
}

#comeback {
    display: none;
}

#int_backstyle {
    width: 100%;
    height: 210vh;
    background-color: antiquewhite;
}

#introduce {
    margin: 70px;
    margin-bottom: 0px;
    border-style:solid;
    border-width: thin;
    border-color: grey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 50px;
    height: calc(80vh - 170px);
    background-color: white;
}

#where {
    margin: 70px;
    margin-top: 0px;
    border-style:solid;
    border-width: thin;
    border-color: grey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 50px;
    height: calc(120vh - 170px);
    background-color: white;
}

#map {
    width: 100%;
    height: 60vh;
    text-align: center;
    margin-top: 15px;
}

#qa_backstyle {
    width: 100%;
    height: 125vh;
    background-color: antiquewhite;
}


#qa_title {
    margin: 70px;
    margin-bottom: 0;
    width: 80%;
    background-color: aliceblue;
}

#qa {
    margin: 70px;
    margin-top: 0;
    width: 80%;
    height: 600px;
}

#qa_tap {
    float: left;
    width: 70px;
    height: 600px;
    background-color: white;
}

#qa_board {
    float: right;
    width: calc(100% - 70px);
    height: 600px;
    background-color: aquamarine;
}